.line {
    fill: none;
    stroke-width: 2px;   
}

.axis path {
    fill: none;
    stroke: #E8E8E8;
    shape-rendering: crispEdges;
}

.axis g text {
    fill: #C9C9C9;
}

.axis g line {
    stroke: #E8E8E8;
}

.wrap {
    fill: #21201F;
}

/* Change font family */
.wrap text {
    fill: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 1.15em;
}

.legend {
    width: 13px;
    height: 13px;
}

div {
    width: 1000px;
    height: 500px;
    margin-right: 1em;
    float: right;

    background: #1F1E1D;
    background-image: url("http://www.cs.utexas.edu/users/andsol17/black_background.png");

    -moz-box-shadow: -10px  10px 5px 5px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: -10px  10px 5px 5px rgba(0, 0, 0, 0.12);
    box-shadow: -10px  10px 5px 5px rgba(0, 0, 0, 0.12);

    border-radius: 15px;
}

body {
    background: #FFFFFF;
}
