<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div></div>
    <script type="text/javascript" src="{{ url_for('static', filename='../static/js/graph.js') }}" data="{{ data|safe }}"></script>
    <style>
      .y1 {fill: white; stroke: red; stroke-width: 2px;}
      .y2 {fill: white; stroke: blue; stroke-width: 2px;}
      .line {fill: none; stroke-width: 2px;}
      .axis line {fill: none; stroke: black; shape-rendering: crispEdges;}
    </style>
    {% for month in months %}
      <p>{{ month }}</p>
      {% for day in days %}
        <p>{{ day }}</p>
        {% for hour in hours %}
          <p>{{ hour }}</p>
          <p>{{ hour.buy_price }}</p>
          <p>{{ hour.sell_price }}</p>
        {% endfor %}
      {% endfor %}
    {% endfor %}
{% endblock %}
