<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div style="background:blue; width:20em; height:20em; position:absolute; top:20px; left:400; float:left"></div>
    <script ssrc="graph.js"></script>
    </h1>
    {% for month in months %}
      <p>{{ month }}</p>
      {% for day in days %}
        <p>{{ day }}</p>
        {% for hour in hours %}
          <p>{{ hour }}</p>
          <p>{{ hour.buy_price }}</p>
          <p>{{ hour.sell_price }}</p>
        {% endfor %}
      {% endfor %}
    {% endfor %}
{% endblock %}
